.profile{
	margin: 250px auto;
    max-width: 600px;
}

.profile-image{
	margin: 0 auto;
    max-width: 350px;
    width: 160px;
    height: 160px;
    text-align: center;
	img{
		width: 160px;
    	height: 160px;
		// width: 100%;
		border-radius: 50%;
	}
}
.profile-name{
	color: $white;
	font-weight: 600;
	text-align: center;
}

.profile-description {

}

.profile-social-accounts{
	ul{
		list-style: none;
		text-align: center;
	    // margin: 0;
	    // padding: 0;
	    // width: 400px;
		li {
			display: inline-block;
			// float: left;
			a{
				display: block;
				padding: 5px;
				&:hover{
					color: $white;
				}
			}
		}
	}
}