$mainColour : #429abf; //3E8BA8
$complementColour : #50B2DE;
$shadeColour: #1d4e61;
$white: #fff;

body{
	font-family: "Source Sans Pro", sans-serif;
    color: #333;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}
.bg{
	background: $mainColour;
}
.bg-white{
	background: $white;
}
.fa {
	color: #1d4e61;
	font-size: 40px;
	&:hover{
		color: $white;
	}
}

.fa-custom{
	font-size: 16px;
}

h1,h2,h3,h4,h5{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
    line-height: 1.25;
    margin: 1.5em 0 0.25em;
}