$mainColour : #429abf; //3E8BA8
$complementColour : #50B2DE;
$shadeColour: #1d4e61;
$white: #fff;

.bg{
	background: $mainColour;
}
.bg-white{
	background: $white;
}
.fa {
	color: #1d4e61;
	font-size: 40px;
	&:hover{
		color: $white;
	}
}

.fa-custom{
	font-size: 16px;
}